<!DOCTYPE html>
<html lang="en">
<body>
 <nav class="navbar navbar-default">
 <div class="container">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">
         <%= image_tag("batman.jpg") %></a>
   </div>
   <ul class="nav navbar-nav navbar-right">
     <li class="active">
     <li><%= link_to "<button class=btn btn-success>Sign Up</button>".html_safe,user_new_path%>
     <li><%= link_to "<button class=btn btn-success>Log in</button>".html_safe%>
     </li>    
     </ul>
 </div>
</nav>




</body>
</html>
